/*Estilos para el header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.container--ul-logo {
    list-style: none;
}

.container--ul-logo img {
    width: 300px;
    height: auto;
}

.container--ul,
.container--profile {
    display: flex;
    list-style: none;
}

.li--item {
    font-size: 20px;
    color: rgb(61, 56, 56);
    font-weight: bolder;
    margin-right: 20px;
}

.li--item a {
    text-decoration: none;
    color: #333;
}

.user {
    list-style: none;
    font-size: 15px;
    color: #969696;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}
.submenu--li {
    list-style-type: none;
    font-size: 15px;
}
.submenu:hover {
    background-color: rgb(16, 157, 250);
}

.li--item:hover .submenu {
    display: block;
}
span:hover{
    color: rgb(9, 116, 187);
    cursor: pointer;
}
.mensajes:hover{
    background-color: #b8b8b8;
}
.nubeMensajes:hover{
    background-color: red;
}

